body {
  background-image: url("table.png.jpg");
  background-size: cover;
  background-position: center;
      color:bisque;
      text-align: center;

    }
.form { width: 700px;
   
  background-color: rgb(68, 25, 25,0.8);
  margin: auto;
  font-family:"Papyrus";
  color: bisque;
  padding: 5px 0px 5px 0px ;
  border-radius: 15px 15px 0px 0px;

} 
h3{background-color: rgb(68, 25, 25,0.5);
  width: 800px;
  margin: auto;

}
  


.button:hover{
    background-color:wheat;
}
.button{
  background-color: rgb(36, 3, 3);
  border-radius: 12px;
  padding: 14px 110px;
  outline: cyan;
  color: rgb(255, 0, 0);
  margin: 20px 0px 0px 20px;
}
h2{
  width: 300px;
  margin: auto;
  color:black;
  font-family: "Lucida Handwriting"
}